/* hello world */
    /*boardwide font stuff goes here also background image*/
@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700|UnifrakturMaguntia&display=swap');

    body {
        max-width:100%;
        padding: 0;
        font-size: 14px;
background-color: #EEF2FF;
color: #black;
margin-left: 10px;
margin-right: 35px;
    }

div#thread_39085 {
background-color:red!important;
}

.announcement {
color:# ;
}

form table tr td {
    background-color: #d6daf0;}

    /*monoelains ez css for VIP quality imageboards. steal this .css and edit it to your liking. */
     
    /* OPTION HIDING */
     
     
    /*removes footer (STI pls dont sue)
    footer {
    display:none;
    color: # ;
    }
     
    /* hides AA in catalog */
    .theme-catalog span.aa {
        display: none !important;
    }
     
    /* hides expand all images */
    #expand-all-images {
        display: none;
    }
     
    /* hides hints*/
    .hint {
        display: none;
    }
     
    /* hides horizontal bar */
    hr {
        display: none;
    }
     
    /* hides delete options (obsolete) */
    div.delete {
        display: none;
    }
     
    /*makes files align vertically (hw pls fix this shit)*/
    .file {
        display: block;
    margin-right: 11px;
}

     
    /*expanded image border/shadow*/
    .full-image {
        border-top-right-radius: 0;
        box-shadow: 3px 5px #d6d9e5;
	border: solid 1px #d6d9e5;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        padding: 5px;
        margin: 0px 0px 0px;
        border-radius: 0;
        max-width: 80% !important;
        float: none;
        background-color: #EEF2FF;
    }
     
    /*gives quick reply its border/shadow*/
    #quick-reply table {
        background: none repeat scroll 0 0 #EEF2FF;
        border: 1px solid # ;
        margin: 0;
        box-shadow: 3px 5px # ;
        width: auto !important;
    }
     
    /*makes posting form maroon*/
    form table tr th {
        background-color: #b1b8e2;
        color: #34345C;
        font-family: 
    }
     
    /*gives images border/shadow*/
    div.files img.post-image {
        box-shadow: 3px 5px #4D4D4D;
        background-color: #EEF2FF;
        border: solid 1px #4D4D4D;
        padding: 0px;
        border-radius: 0;
        margin-bottom: 5px;
    }
     
    /* makes Youtube thumbs not obscenely big */
    div.video-container  {
        width: auto !important;
        height: auto !important;
        max-height: 300px !important;
        max-width: 300px !important;
    }
     
    /* Image thumbs size limit (make as big as you want)*/
    .post-image {
        border: solid 1px #d6d9e5;
        height: auto !important;
        width: auto !important;
        max-height: 60%;
        max-width: 60%;
        box-shadow: 3px 5px #d6d9e5;
padding: 5px;
background-color: #EEF2FF;
    }
     
    /* Keep small thumbnails in replies */
    .post.reply a:not([data-expanded="true"]) .post-image {
        width: auto !important;
        height: auto !important;
        max-height: 60%;
        max-width: 60%;
    }
     
    /* reply box size */
    .input[type="text"], textarea {
        min-height: 117px;
        min-width: 240px;
    }
     
    /*saves one pixel of space*/
    header {
        margin-bottom: 0px;
    }
     
    /*gives posting table its border/shadow*/
    form table {
        width: 100%;
        minimum-width: 960px;
        min-height: 250px;
        display: inline-block;
        margin: 5px auto;
        background-color: #EEF2FF;
        border: solid 1px # ;
        color: #black;
        padding: 5px;
        box-shadow: 3px 3px #  !important;
    }
     
    /*gives threads its border/shadow*/
    div[id^="thread_"] {
        background-color: #D6DAF0;
        color: #black;
        margin-bottom: 20px;
        padding: 10px;
        border: solid 1px #b1b8e2;
        width: 100%;
        box-shadow: 3px 5px #b1b8e2;
    }
     
    /*adds horizontal bar below subject*/
    p.intro {
        background-image: url('https://media.8kun.top/file_store/6c1f86b70c6a5e069a0f747b2c96a327fcc434707612aa51e5d1b4ca24d5cca5.png');
        background-repeat: repeat-x;
        background-position: bottom;
        padding-bottom: 7px;
    }
     
    /*gives replies border/shadow*/
    div.post.reply {
        max-width: 95% !important;
        box-shadow: 3px 5px #d6d9e5;
        padding: 4px;
        margin-top: 9px;
        border: solid 1px #d6d9e5;
        background-color: #EEF2FF;
    }
     
    /*unfucks highlighting replies and gives border/shadow*/
    div.post.reply.highlighted {
        background-color: #EEF2FF;
        border: solid 1px #93e0e3;
        box-shadow: 3px 5px #93e0e3;
    }
     
    /*dont touch this*/
    div.body {
        display: block;
        clear: both;
        padding-top: 10px;
    }
     
    /*makes page bar have border/shadow*/
    div.pages {
        box-shadow: 3px 5px #d6d9e5;
        width: 100%;
        display: block;
        clear: both;
        border: solid 1px #d6d9e5;
        background-color: #EEF2FF;
    }
     
    /*hovered links have underline*/
    a:hover {
        text-decoration: underline;
    }
     
    /*stops textbox resizing shenanigans*/
    .input[type="text"], textarea {
        font-size: 14px;
        max-width: 9000px;
	font-family: 
        min-height: 115px;
        min-width: 270px;
	background-color: #e2e5f4;
	color: #black;
    }

input {
background-color: #e2e5f4;
}
select {
background-color: #D6DAF0;
}

/*catpcha alert*/
#options_div, #alert_div {
    background-color: #D6DAF0;
}
     

header h1 {
  text-align: center
  display: inline-block;
  letter-spacing: -1px;
  font-size: 30pt;
  font-weight: 700;
  font-family: "UnifrakturMaguntia" , Serif;
  color: #cc0000;
}
header div.subtitle {
  text-align: center
  display: inline-block;
  font-size: 13pt;
  font-weight: 700;
  font-family: "UnifrakturCook"; Serif;
}
     
    /*announcement font and color*/
    div.blotter {
        padding: 15px;
        font-family: 
    }
     
    /*makes links red*/
    a {
        text-decoration: none;
    }
     
    /*top boardlist stuff. change position to "fixed" to make it behave like normal 8chan*/
    div.boardlist:not(.bottom) {
        background-color: #D6DAF0 !important;
        text-align: center;
        padding: 5px 1px;
        letter-spacing: 0px;
        font-size: 11px;
        border-bottom: double 3px #  !important;
        position:fixed;
    }
     
    /*favorites in a new line*/
    div.boardlist span.favorite-boards {
        display: ;
    }
     
    /*subject color*/
    p.intro span.subject {
    }
     
    /*bottom boardlist centered*/
     
    div.boardlist.bottom {
        text-align: center;
        background-color: #D6DAF0;
        border: solid 1px;
        box-shadow: 2px 5px #b1b8e2; 
        width: 100%;
	margin: 15px;

    
    }
     
    /*colors name*/
    p.intro span.name {
        color: ;
        font-family: ;
    }
     
    /*catalog stuff*/
    .theme-catalog div.thread {
        background-color: #EEF2FF;
        color: #black;
        border: solid 1px #d6d9e5;
    }
     
    .theme-catalog div.thread:hover {
        background-color: ;
        border: solid 1px #d6d9e5;
    }
     
    span.trip {
        color: rgb(34, 136, 84);
    }
     
    #thread-links {
    background-color: #EEF2FF;
    padding: 5px;
    margin: 5px;
    }
    
    A#update_thread
    {color: # ;}
    A#thread-catalog
    {color: # ;}
    A#thread-top
    {color: # ;}
    A#thread-return
    {color: # ;}
    

#quick-reply th .close-btn{
color:# ;

}

div.post-hover {

border: solid 1px #d6d9e5;
box-shadow: 3px 5px #d6d9e5;
max-width: 50%;
}


a:visited {color: }

.quote {color: ;}
a:hover,p.intro a.post_no:hover {
  color: #ff0000 !important;
}

p.intro {color: # }

p.intro a {color: #  !important}
A.post_no {color:# }


p.fileinfo
{color: #  !important}

p.fileinfo a:link{
    color: # ;
} !important;
max-width: 50%;
}


a:visited {color: }


p.intro {color: # }

p.intro a {color: #  !important}
A.post_no {color:# }


p.fileinfo
{color: #  !important}

p.fileinfo a:link{
    color: # ;
}

DIV#thread_stats
{
border: solid 1px # ;
box-shadow: 3px 5px # ;
color: # ;
float: left;
}

DIV.file-hint
{background-color: ;}
div.dropzone
{background-color: ;
color: # }

#options_div
{background-color: ; color: ;
}
div.options_tab_icon
{color: ;}
div.options_tab_icon.active
{color: # ;}
#filter-container
{background-color: ;
color: # ;}
#treeview
{display:none}
span.heading
{color: #FF6400}
body > footer:nth-child(19)
{color: # ;}
div.boardlist a {color: # ;}

form table tr th {
    color: #  !important;
}

p.intro a.email span.name{color: #c80b63;}
p.intro span.capcode {color: ;}


/* label {display:none;} */

div.post-menu {color: # ;}

/* Begin board pages fix */
div.module, div.ban {

    background: #D6DAF0 !important;
    border: solid 1px #b1b8e2;
    color: #black !important;
    /* max-width: 700px; */
    margin: 30px auto;

}

div.ban ol, .ban ul {
    font-size: 12px;
}

div.ban h2 {
    background: #b1b8e2;
}

div.ban h3 {
    padding: 3px 7px;
}
/* End board pages fix */

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

div.boardlist:not(.bottom) {position: static;}
body { min-width: 100%;}
}